* {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
	body{
        font-family: 'Times New Roman', Times, serif;
         background-color: blanchedalmond;
        color: black;
	}
        header {
            text-align: center;
            padding: 50px 20px 20px;
        }
        .bt{
            margin-left: 50px;
            margin-top: -50px;
            display: flex;
            width: 100px;
            height: 40px;
            border-radius: 20px;
            background-color: white;
            color: black;
            font-size: 14px;
            border: solid;
            border-width: 1px;
            .setas{
                display: flex;
                margin-left: 15px;
                margin-top: 2px;
                margin-bottom: 10px;
                margin-right: 10px;
            }
            
            
        }

        h1 {
            font-size: 40px;
        }

        main {
            max-width: 1200px;
            margin: auto;
            padding: 30px;
        }

        .titulo-versiculo {
            text-align: center;
            font-size: 25px;
            margin-bottom: 10px;
        }

        .conteudo {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 40px;
        }
        
        .texto {
            flex: 1;
        }

        .mensagem {
            font-size: 25px;
            line-height: 1.6;
            margin-bottom: 25px;
        }

        .musica {
            font-size: 22px;
            margin-bottom: 10px;
        }

        audio {
            width: 100%;
            max-width: 450px;
        }

        .imagem {
            flex: 1;
            text-align: center;
        }

        .imagem img {
            width: 100%;
            max-width: 500px;
            height: auto;
            border-radius: 10px;
        }

